%h1 Content Management Dashboard
%br/
=# link_to "Homepage", content_home_path(1)
%br/
= link_to "Explore", content_explore_path(1)
%br/
= link_to "Condominiums", content_condo_path(1)
%br/
= link_to "Residential Lots", content_residential_path(1)
%br/
= link_to "The Suites", content_suite_path(1)