%p#notice= notice

%div.preview
  .title
    = @content_residential.title
  =raw @content_residential.context


%center
  %br/
  = link_to 'Edit Page', edit_content_residential_path(@content_residential)
  \|
  = link_to 'Back to Dashboard', "/dashboard"
