%p#notice= notice

%div.preview
  .title
    = image_tag('logo_ayalapremier.png')
  =raw @content_explore.context
%center
  = link_to 'Edit Page', edit_content_explore_path(@content_explore)
  \|
  = link_to 'Back to Dashboard', "/dashboard"