%center
  %br/
  =# %h1= "Edit '#{@content_item_residential.title}' Page"

  = render 'form'
  %br/
  = link_to 'Preview Page', @content_item_residential
  \|
  = link_to 'Back To Dashboard', "/dashboard"
