%p#notice= notice

%div.preview
  =raw @content_item_residential.context

%center
  %br/
  = link_to 'Edit Page', edit_content_item_residential_path(@content_item_residential)
  \|
  = link_to 'Back to Dashboard', "/dashboard"
