%p#notice= notice

%div.preview
  .title
    = @content_condo.title
  =raw @content_condo.context

%center
  %br/
  = link_to 'Edit Page', edit_content_condo_path(@content_condo)
  \|
  = link_to 'Back to Dashboard', "/dashboard"
