%p#notice= notice

%div.preview
  .title
    = @content_suite.title
  =raw @content_suite.context

= link_to 'Edit Page', edit_content_suite_path(@content_suite)
\|
= link_to 'Back to Dashboard', "/dashboard"