%p#notice= notice

%div.preview
  =raw @content_item_condo.context

%center
  = link_to 'Edit Page', edit_content_item_condo_path(@content_item_condo)
  \|
  = link_to 'Back to Dashboard', "/dashboard"